name: Deployment pipeline

on:
  push:
    branches:
      - master

jobs:
  heroku_deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      - name: Deploy to Heroku
      - uses: akhileshns/heroku-deploy@v3.10.9
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: 'stormy-brook-37271' #Must be unique in Heroku :: http://kevinmlawson.com/herokuname/ ::
          heroku_email: 'drecrego@protonmail.com'
          remote_branch: master
